@model PracticaProfesionalJacquard.Models.ciudadClass

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Informacion Ciudad</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdCiudad" />
            <div class="form-group">
                <label asp-for="IdRegion" class="control-label">¿A que region pertenece?</label>
                <select asp-for="IdCiudad" class="form-control">

                    @foreach (var item in (List<regionClass>)@ViewBag.listaRegiones)
                    {
                        <option value=@item.IdRegion>@item.Nombre</option>

                    }


                </select>
                <span asp-validation-for="IdRegion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre:</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaKm" class="control-label">Area Km^2</label>
                <input asp-for="AreaKm" class="form-control" />
                <span asp-validation-for="AreaKm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poblacion" class="control-label">Poblacion:</label>
                <input asp-for="Poblacion" class="form-control" />
                <span asp-validation-for="Poblacion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <div class="row">
                    ¿Es Capital?
                    <label class="form-check-label pl-5">
                        <input class="form-check-input" asp-for="EsCapital" />
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
